/* CSS Document */

*{
	padding:0;
	margin:0;
	}
	
	
#search_result_main{
	background:#FFF;
	height:auto;
	}
	
	
/*结果的头*/
.search_result_contain{
	margin-top:20px;
	margin-left:10px;
	}
.search_result_header{
    background-clip: border-box;
    background-color: #6E155F;
    background-image: none;
    height:auto;
}
.search_result_header .title{
	color:#FFF;	
		}
.search_result_header .title:hover{
	padding-left:25px
}

.search_result_header h2{
	font-size:162.5%;
	font-weight:400;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
	padding:10px
	}
		
.search_result_header h2 a{
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
	text-decoration:none;
	}
		
.more{
	width:55px;
	height:48px;
	position:absolute;
	left:780px;
	margin-top:-10px;
	alphaopacity:50);
	-moz-opacity:0.5;
	opacity:0.5;
	text-indent:-9999px
	}
	
.search_result_header .more:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out
	}
	
/*结果基本信息*/
.search_result_data span{
	margin-right:10px;
	padding-left:20px;
	}	

/*结果的内容*/
.search_result_content{
	font-size:125%;
	line-height:23px;
	position:relative;
	padding:5px 10px
	}
/*加载缓冲图片*/
#loading{
	display:none;
	}

/*加载跟多结果的*/
#add_more_cheats_search_result_div{
   text-align:center;
}	
#add_more_cheats_search_result_div #result_page_id{
   display:none;
}
#add_more_cheats_search_result_div a:hover{
         cursor:pointer;     
}
#search_content{
  display:none;
}
#add_more_posts_search_result_div{
   text-align:center;
}	
#add_more_posts_search_result_div #result_page_id{
   display:none;
}
#add_more_posts_search_result_div a:hover{
         cursor:pointer;     
}
#search_content{
  display:none;
}


/*头部颜色*/
.magenta{
	background:#FF0097
}
.purple{
	background:#6E155F
}
.teal{
	background:#4EB3B9
}
.lime{
	background:#8CBF26
}
.brown{
	background:#A05000
}
.pink{
	background:#E671BB
}
.orange{
	background:#F09609
}
.b1ue{
	background:#1BA1E2
}
.red{
	background:#E51400
}
.green{
	background:#393
}
.marine{
	background:#034888
}
.purple2{
	background:#5859B9
}
.teal2{
	background:#D54D34
}
.dark{
	background:#260930
}	
